.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.productItem {
  margin: 40px 0;
  border: 1px solid #959a9a;
  border-radius: 5px;
  padding: 26px;
  background-color: #ecf3f3;
  width: 100%;
}

.productItem p {
  margin: 10px 0;
}
